body {
  margin: 0;
  padding: 0;
}

#app {
  display: flex;
  justify-content: center;
  align-items: end;
  background-image: url('/big-apple.png');
  background-repeat: repeat-x;
  min-height: 100vh;
  overflow: hidden;
  image-rendering: pixelated;
  background-size: auto 1350px;
  background-position: -8px -465px;
  animation: background-right 40s linear infinite;
  animation-play-state: paused;
}

#background {
  position: fixed;
  z-index: -2;
  top: 0;
  left: 0;
  width: 100%;
  height: 495px;
  background-image: url('/big-apple-bg.png');
  background-repeat: repeat-x;
  overflow: hidden;
  image-rendering: pixelated;
  background-size: auto 100%;
  background-position: -8px 0;
  animation: background-right 80s linear infinite;
  animation-play-state: paused;
}

#player {
  height: 70px;
  width: 68px;
  background-image: url('/raph.png');
  background-repeat: no-repeat;
  --position-top: -125px;
  animation: idle 1s steps(1) infinite;
  image-rendering: pixelated;
}

#player.walk-right {
  width: 43px;
  --position-top: -192px;
  animation: walk-right 1s steps(1) infinite;
}

#app:has(.walk-right) {
  animation-play-state: running;

  #background {
    animation-play-state: running;
  }
}

#player.walk-left {
  width: 43px;
  --position-top: -192px;
  animation: walk-right 1s steps(1) infinite;
  transform: scaleX(-1);
}
#app:has(.walk-left) {
  animation-direction: reverse;
  animation-play-state: running;

  #background {
    animation-play-state: running;
  }
}

#player.jump {
  animation: jump 1s steps(1) forwards;
  --position-top: -340px;
  width: 43px;
}

@keyframes background-right {
  to {
    background-position: 100%;
  }
}

@keyframes background-left {
  to {
    background-position: -100%;
  }
}

@keyframes idle {
  0% {
    background-position: -7px var(--position-top);
  }
  16.66% {
    background-position: -78px var(--position-top);
  }
  33.33% {
    background-position: -143px var(--position-top);
  }
  50% {
    background-position: -214px var(--position-top);
  }
  66.66% {
    background-position: -277px var(--position-top);
  }
  83.33% {
    background-position: -344px var(--position-top);
  }
  100% {
    background-position: -448px var(--position-top);
  }
}

@keyframes walk-right {
  0% {
    background-position: -8px var(--position-top);
  }
  33.33% {
    background-position: -48px var(--position-top);
  }
  66.66% {
    background-position: -88px var(--position-top);
  }
  100% {
    background-position: -8px var(--position-top);
  }
}

@keyframes jump {
  0% {
    background-position: -8px var(--position-top);
  }
  20% {
    background-position: -56px var(--position-top);
  }
  40% {
    background-position: -100px var(--position-top);
  }
  60% {
    background-position: -141px calc(var(--position-top) - 20px);
  }
  80% {
    background-position: -52px var(--position-top);
  }
  100% {
    background-position: -8px var(--position-top);
  }
}

#razar {
  height: 74px;
  width: 62px;
  background-image: url('/rahzr-tokka.png');
  background-repeat: no-repeat;
  background-size: auto auto;
  background-position: -20px -13px;
  image-rendering: pixelated;
  animation: razhar-idle 1s steps(1) infinite;
}

@keyframes razhar-idle {
  0% {
    background-position: -20px -13px;
  }
  33.33% {
    background-position: -78px -13px;
  }
  66.66% {
    background-position: -136px -13px;
  }
  100% {
    background-position: -20px -13px;
  }
}
